# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment files
.env
.env.production
.dev.vars
.dev.vars.*
!.dev.vars.example

# operating system files
.DS_Store
Thumbs.db
